$main-color: #2196F3;
$teambackground-color: #F5F4FA;
$footer-color: #2F303A;
$heading-color: #212121;
$paragraph-color: #757575;
$hovereditemtext-color: #fff;
$hoveredservicebutton-color: #188CE8;
$border-color: #ECECEC;
$filterbuttonback-color: #F5F4FA;
$itemsborder-color:#EEEEEE;
$customerbox-color: #AFB1B8;
$general-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
